body
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body::-webkit-scrollbar {
    display: none; 
}

button
{
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	color: #f2f2f2;
	font-size: 25px;
}

.mandatory-scroll-snapping
{
	scroll-snap-type: y mandatory;
}

.mandatory-scroll-snapping > section
{
	scroll-snap-align: start;
}

.Introduction
{
 	background: #121212;
 	height: 100vh;
	margin: -70px -8px 0px -8px;
	padding: 3vw 6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f2f2f2;
}

#myName
{
	font-size: 8vw;
	margin-bottom: -10px;
}

#Karen
{
	align-self: center;
	text-align: center;
	margin-bottom: -30px;
	-webkit-text-fill-color: #121212;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f2f2f2;
	font-size: 14vw;
}

#csStudent
{
	margin-left: 50%;
	font-size: 4vw;
}

h1
{
	-webkit-text-fill-color: #121212;
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #f2f2f2;
}

.SWETechCommittee
{
	background: #f2f2f2;
	margin: 0px -8px 0px -8px;
	padding: 3vw 6vw;
	color: #121212;
	font-size: 3vw;
}

.column
{
	display: flex;
}

#column2
{
	margin-top: 10vh;
}

.techCommittee
{
	padding-right: 10vw;
	text-align: right;
}

#swe-logo
{
	background-attachment: fixed;
	align-self: center;
	width: 50%;
}

img .engineering101
{
	margin-left: 0;
}

#engineering101
{
	margin-left: 30%;
	font-size: 2vw;
	align-self: flex-end;
}

.FRC
{
	position: relative;
	margin: 0px -8px 0px -8px;
	padding: 6vh 6vw;
	background: #121212;
	font-size: 2vw;
	color: #f2f2f2;
}

#OC
{
	display: block;
	padding: 20px;
	margin-left: auto;
 	margin-right: auto;
 	width: 60vw;
}

#Sprocket1
{
	margin-right: 60%;
	text-align: right;
}

#Sprocket2
{
	margin-left: 60%;
}

#learnMore
{
	background: #f2f2f2;
	margin: -40px -8px 0px -8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 15vh 12vh;
	height: 67vh;
	color: #121212;
	font-size: 40px;
}

.link
{
	color: #ba9b01;
	text-decoration: none;
}


@media screen and (max-width: 800px) 
{
	.Introduction
	{
		padding: 8vw 8vw;
		display: flex;
		flex-direction: row;
	}

	#myName
	{
		align-self: flex-start;
		font-size: 6vw;
		margin-bottom: 0;
	}

	#Karen
	{
		-webkit-transform: rotate(90deg);
		align-self: center;
		text-align: right;
		margin-bottom: 0;
		font-size: 16vw;
	}

	#csStudent
	{
		align-self: flex-end;
		text-align: right;
		margin-left: 0;
		font-size: 4vw;
	}
}