body
{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Courier New', Courier, monospace;*/
}

body::-webkit-scrollbar { 
    display: none; 
}

button
{
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	color: #f2f2f2;
	font-size: 25px;
}

.Introduction
{
	/*
	background: repeating-linear-gradient(
		-35deg,
  		#000000,
  		#000000 50px,
  		#ffffff 50px,
  		#ffffff 51px
 	 );
 	 */
 	background: #121212;
 	/*height: 100vh;*/
	margin: -70px -8px 0px -8px;
	padding: 3vw 6vw;
	display: flex;
	flex-direction: column;
	color: #f2f2f2;
	font-size: 8vw;
}

#myName
{
	margin-bottom: -10px;
}

#Karen
{
	text-align: center;
	margin-bottom: -30px;
	-webkit-text-fill-color: #121212;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f2f2f2;
	font-size: 14vw;
}

.align-left
{
	margin-left: 50%;
	font-size: 4vw;
}

h1
{
	-webkit-text-fill-color: #121212;
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #f2f2f2;
}

.SWETechCommittee
{
	background: #f2f2f2;
	margin: 0px -8px 0px -8px;
	padding: 3vw 6vw;
	color: #121212;
	/*display: flex;*/
	font-size: 3vw;
}

.column
{
	display: flex;
}

#column2
{
	margin-top: 10vh;
}

.techCommittee
{
	padding-right: 10vw;
	text-align: right;
}

#swe-logo
{
	align-self: center;
	width: 50%;
}

img .engineering101
{
	margin-left: 0;
}

#engineering101
{
	margin-left: 30%;
	/*margin-bottom: 100px;*/
	font-size: 2vw;
}

.FRC
{
	position: relative;
	margin: 0px -8px 0px -8px;
	padding: 3vh 6vw;
	background: #121212;
	font-size: 2vw;
	color: #f2f2f2;
	/*flex-direction: column;*/
}

#OC
{
	display: block;
	padding: 20px;
	margin-left: auto;
 	margin-right: auto;
 	width: 60vw;
}

#Sprocket1
{
	/*
	position: absolute;
	top: 0px;
	left: 16px;
	*/
	margin-right: 60%;
	text-align: right;
}

#Sprocket2
{
	/*
	position: absolute;
	bottom: 8px;
	right: 16px;
	*/
	margin-left: 60%;
}


