html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#fffddd; 
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    color: #28292a;

    transition-duration: 0.75s;
}

a {
    text-decoration: none;
    color: #28292a;
}

a:visited {
    color:#28292a; 
}

section, article {
    display: flex;
    flex-direction: column;
    padding: 12vh 10vw;
}

section {
    height: 76vh;
}

article a {
    text-decoration: underline;
}

.white-bg {
    background-color: #fffff5;
}

.yellow-bg {
    background-color: #fffddd;
}

.green-bg {
    background-color: #e9ffe8;
}

.pink-bg {
    background-color: #ffeded;
}

.blue-bg {
    background-color: #d4e7ff;
}

.half-highlight-yellow {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #fdf68b 50%);
}

.half-highlight-green {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #a7eea4 50%);
}

.half-highlight-pink {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #ffc2c2 50%);
}

.half-highlight-blue {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #89beff 50%);
}

.intro {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 200%;
}

#main {
    /* font-family: 'Libre Caslon Text', serif; */
}

h1, h2 {
    font-family: 'Libre Caslon Text', serif;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 350%;
}

p {
    font-size: 130%;
}

#Garden {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 400px;
    object-fit: cover;
}


